body {
  background-color: #eaf6f6;
}

img {
  height: 150px;
  border-radius: 10px;
}

hr {
  border-color: grey;
  /* height: 0px; */
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
}

h1 {
  color: black;
  letter-spacing: 2px;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: #66bfbf;
  font-family: Georgia, 'Times New Roman', Times, serif;
}